In [124]:
# Import Required Packages
import pandas as pd
import math
import csv
import requests
from statistics import mean
from typing import Union, Literal

In [125]:
# We're going to pull data on penguins! 
data_url =  "https://raw.githubusercontent.com/mcnakhaee/palmerpenguins/refs/heads/master/palmerpenguins/data/penguins.csv"
# Pandas is a library that has holds data in a tabular format
penguins = pd.read_csv(data_url)
speciesList = penguins["species"].unique()
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [126]:
# Displays Error Messages If Incorrect Parameters Are Passed To species_extrema()
def error_handling(error, column, maxMin):
    errorMessages = {
        1: f"Error 1: Invalid Column Selection ({column})",
        2: f"Error 2: Invalid Extrema Selection ({maxMin})",
        3: f"Error 3: Invalid Column & Extrema Selection, ({column}, {maxMin})"
    }
    if(error>0):
        print(errorMessages.get(error))
        return True
    return False

In [127]:
# Ensures only a valid column containing quantitative data is selected, as well as a valid extrema
def input_validation(column, maxMin):
    error = 0
    # Validate column parameter
    if column not in penguins.columns or not pd.api.types.is_numeric_dtype(penguins[column]):
        if column not in ["weight"]:
            error = 1

    # Validate maxMin parameter
    if maxMin not in ["maximum", "highest", "largest"]:
        if maxMin not in ["minimum", "lowest", "smallest"]:
            error = 2
    
    return error

In [128]:
# Generates Text to Display To Terminal for Each Possible Column
def column_to_text(column):
    columnTexts = {
        'bill_length_mm': "Bill Length (mm)",
        'bill_depth_mm': "Bill Depth (mm)",
        'flipper_length_mm': "Flipper Length (mm)",
        'body_mass_g': "Body Mass (g)",
        'weight': "Weight (N)"
    }
    return columnTexts.get(column)

In [129]:
# Loop through each species, calculate/display average "X", find species with max/min average
def species_extrema(column, maxMin):

    if(error_handling(input_validation(column, maxMin), column, maxMin)):
        return
    
    else:
        columnText = column_to_text(column)
    
        if column == "weight":
            gravity = 9.81
            kg_conversion = 1000
            column = "body_mass_g"
        else:
            gravity = 1
            kg_conversion = 1

        averages = {}
        for species in speciesList:
            speciesValues = penguins.loc[penguins["species"] == species, column].dropna()

            totalValue = 0
            count = 0
            
            for value in speciesValues:
                totalValue += (value/kg_conversion)*gravity
                count += 1

            avg = totalValue / count if count > 0 else None
            averages[species] = avg
            print(f"Average {columnText} for {species}: {avg:.2f}")

        if(maxMin == "maximum" or maxMin == "highest" or maxMin == "largest"):
            extremeSpecies = max(averages, key=averages.get)
        else:
            extremeSpecies = min(averages, key=averages.get)

        printStr = f"Species w/ {maxMin.capitalize()} Average {columnText}: {extremeSpecies}"
        print("=" * len(printStr))
        print(printStr)
        print("=" * len(printStr))

In [130]:
# Run Functions to Find Species w/ Largest Weight and Species w/ Smallest Bill Length
species_extrema("weight", "largest")
species_extrema("bill_length_mm", "smallest")

Error 2: Invalid Extrema Selection (test)
Average Bill Length (mm) for Adelie: 38.79
Average Bill Length (mm) for Gentoo: 47.50
Average Bill Length (mm) for Chinstrap: 48.83
====================================================
Species w/ Smallest Average Bill Length (mm): Adelie
====================================================