In [2]:
# Import Required Packages
import pandas as pd
import math
import csv
import requests
from statistics import mean

In [3]:
# We're going to pull data on penguins! 
data_url =  "https://raw.githubusercontent.com/mcnakhaee/palmerpenguins/refs/heads/master/palmerpenguins/data/penguins.csv"
# Pandas is a library that has holds data in a tabular format
penguins = pd.read_csv(data_url)
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [10]:
# List All Species
species_list = penguins["species"].unique()

In [11]:
# Loop through each species, calculate/display average weights, find largest
def find_largest_weight():
    avgWeights = {}
    for species in species_list:
        speciesWeights = penguins.loc[penguins["species"] == species, "body_mass_g"].dropna()

        totalWeight = 0
        count = 0

        for weight in speciesWeights:
            totalWeight += weight
            count += 1

        avg = totalWeight / count if count > 0 else None
        avgWeights[species] = avg
        print(f"Average Weight (g) for {species}: {avg:.2f}")
    largestWeightSpecies = max(avgWeights, key=avgWeights.get)
    print(f"========================================")
    print(f"Largest Average Weight (g): {avgWeights[largestWeightSpecies]:.2f}")
    print(f"========================================")

In [15]:
# Loop through each species, calculate/display average lengths, find smallest
def find_smallest_length():
    avgLengths = {}
    for species in species_list:
        speciesLength = penguins.loc[penguins["species"] == species, "flipper_length_mm"].dropna()

        totalLength = 0
        count = 0

        for length in speciesLength:
            totalLength += length
            count += 1

        avg = totalLength / count if count > 0 else None
        avgLengths[species] = avg
        print(f"Average Length (mm) for {species}: {avg:.2f}")

    smallestLengthSpecies = min(avgLengths, key=avgLengths.get)
    print(f"========================================")
    print(f"Smallest Average Bill Length (mm): {avgLengths[smallestLengthSpecies]:.2f}")
    print(f"========================================")

In [16]:
find_largest_weight()
find_smallest_length()

Average Weight (g) for Adelie: 3700.66
Average Weight (g) for Gentoo: 5076.02
Average Weight (g) for Chinstrap: 3733.09
========================================
Larges Average Weight: 5076.016260162602
========================================
Average Length (mm) for Adelie: 189.95
Average Length (mm) for Gentoo: 217.19
Average Length (mm) for Chinstrap: 195.82
========================================
Smallest Average Bill Length: 189.95364238410596
========================================